# Dependencies
/node_modules

# Shopify CLI
.shopify/

# macOS
.DS_Store

# Environment variables
.env

# Logs
*.log

# Theme archives
*.zip

# Shopify Theme Kit
# Ignore local configuration files
config/settings_data.json

# Build artifacts
/assets/*.map
/assets/*.liquid.css
/assets/*.liquid.js
/tmp/
/dist/

# VS Code
.vscode/